.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget-container {
  width: 650px;
  height: 400px;
  .widget {
    width: 620px;
    height: 360px;
  }
}

.widget-large-container {
  width: 1300px;
  height: 700px;
  .widget {
    width: 1260px;
    height: 660px;
  }
}
