<div class="container">
  <app-widget
    class="widget-container"
    [ngStyle]="{
      order: '1'
    }"
  >
    <div content class="widget">
      <app-create-data (onAddCreateData)="addData($event)"> </app-create-data>
    </div>
  </app-widget>
  <app-widget
    class="widget-container"
    [ngStyle]="{
      order: '1'
    }"
  >
    <div content class="widget"></div
  ></app-widget>
  <app-widget
    class="widget-large-container"
    [ngStyle]="{
      order: '1'
    }"
  >
    <div content class="widget">
      <app-data-graph [newDataSubscription]="newDataNotifier">
      </app-data-graph></div
  ></app-widget>
</div>
