<div class="container">
  <h1>Tilføj mælkeseddel</h1>
  <div class="form-container">
    <form [formGroup]="dataForm">
      <div class="row">
        <div>
          <label for="date">
            Dato:
          </label>
          <input
            [matDatepicker]="picker"
            id="date"
            class="input-type date"
            formControlName="date"
          />
          <mat-datepicker-toggle
            class="datepicker-toggle"
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div>
          <label for="milk">
            Liter Mælk
          </label>
          <input
            id="milk"
            class="input-type"
            type="number"
            formControlName="milk"
          />
        </div>
      </div>
      <div class="row">
        <div>
          <label for="fat">
            Fedt %:
          </label>
          <input
            id="fat"
            class="input-type"
            type="number"
            formControlName="fat"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="create-data-container" (click)="onSubmit(dataForm)">
    <p>Tilføj data</p>
  </div>
</div>
