.container {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: #376dbd;
}

.login-box {
  width: 350px;
  height: 500px;
  margin: 10% auto;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  h1 {
    text-align: center;
    padding-top: 40px;
    color: #376dbd;
    font-weight: bold;
    font-size: 42px;
  }
}
.input-container {
  padding-top: 20px;
  height: 30%;
  text-align: center;
  .self-input {
    float: left;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    margin: 15px 10%;
    padding: 2.5% 0;
    font-size: 0.8em;
    border-bottom: 1px solid #bdbdbd;
    transition: 0.1s all;
    &:focus {
      padding: 3% 0;
      font-size: 1em;
      border-bottom: 2px solid #376dbd;
    }
  }
  button {
    margin-top: 30px;
    background-color: #376dbd;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    &:hover {
      background-color: rgb(7, 63, 141);
    }
  }
}

.button-container {
  margin-top: 70px;
  text-align: center;
  button {
    background-color: #376dbd;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    &:hover {
      background-color: rgb(7, 63, 141);
    }
  }
  h3 {
    margin-top: 30px;
    color: #376dbd;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    margin-top: 35px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    span {
      background: #fff;
      padding: 0 10px;
    }
  }
}
