.modal-fade {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  .modal-content {
    display: table-cell;
    vertical-align: middle;
    .modal-container {
      width: 40%;
      margin: 0px auto;
      padding: 0px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      .modal-header {
        width: 100%;
        .close-icon {
          float: right;
          font-weight: bold;
          font-size: 25px;
          color: white;
          padding: 10px;
          &:hover {
            cursor: pointer;
          }
          &:active {
            font-weight: 300;
          }
        }
      }
      .modal-body {
        width: 100%;
        max-height: 600px;
        overflow-y: auto;
      }
      .modal-footer {
        width: 100%;
      }
    }
  }
}
