<div class="navbar">
  <div class="link-element" [ngClass]="{ active: activeLink === 'home' }">
    <a (click)="clickLink('home')" routerLink=""> <mat-icon>home</mat-icon> </a>
  </div>
  <div class="link-element" [ngClass]="{ active: activeLink === 'statistics' }">
    <a (click)="clickLink('statistics')" routerLink="statistics">
      <mat-icon>bar_chart</mat-icon>
    </a>
  </div>
  <div class="link-element" [ngClass]="{ active: activeLink === 'tasks' }">
    <a (click)="clickLink('tasks')" routerLink="tasks">
      <mat-icon>assignment</mat-icon>
    </a>
  </div>
  <div class="link-element" [ngClass]="{ active: activeLink === 'remarks' }">
    <a (click)="clickLink('remarks')" routerLink="remarks">
      <mat-icon>notifications</mat-icon></a
    >
  </div>
  <div class="link-element">
    <a (click)="logout()"> <mat-icon>keyboard_backspace</mat-icon> </a>
  </div>
</div>
