.navbar {
  width: 100%;
  height: 80px;
  background-color: #376dbd;
  .logo {
    float: left;
    margin-top: 15px;
    margin-left: 25px;

    img {
      width: 200px;
      height: 45px;
      background-color: white;
    }
  }

  .inner-container {
    float: right;
    .links-container {
      float: left;
      margin-right: 60px;
      .link-element {
        display: inline-block;
        margin-top: 25px;
        margin-left: 35px;
        a {
          text-decoration: none;
          font-size: 20px;
          color: white;
          list-style: none;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .active {
        font-weight: bold;
        a {
          opacity: 1;
        }
      }
    }
    .user-container {
      float: right;
      margin-right: 25px;
      .user {
        float: left;
        text-align: right;
        padding-right: 0px;
        h3 {
          margin-top: 25px;
          margin-bottom: 0;
          padding-right: 20px;
          color: white;
        }
      }
      .user-logo {
        float: right;
        margin-top: 15px;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }
  }
}
