<div class="navbar">
  <div
    class="link-element"
    [ngClass]="{ active: activeLink === 'home' }"
    (click)="clickLink('home')"
  >
    <a routerLink=""> Hjem </a>
  </div>
  <div
    class="link-element"
    [ngClass]="{ active: activeLink === 'tasks' }"
    (click)="clickLink('tasks')"
  >
    <a routerLink="tasks"> Opgaver </a>
  </div>
  <div
    class="link-element"
    [ngClass]="{ active: activeLink === 'remarks' }"
    (click)="clickLink('remarks')"
  >
    <a routerLink="remarks"> Bemærkninger </a>
  </div>
  <div class="link-element" (click)="logout()">
    <a> Log ud </a>
  </div>
</div>
