<div class="navbar">
  <div class="logo">
    <img />
  </div>
  <div class="inner-container">
    <div class="links-container">
      <div class="link-element active"><a> Hjem </a></div>
      <div class="link-element"><a> Vindue 1 </a></div>
      <div class="link-element"><a> Vindue 2 </a></div>
      <div class="link-element"><a> Vindue 3 </a></div>
      <div class="link-element"><a> Vindue 4 </a></div>
    </div>
    <div class="user-container">
      <div class="user">
        <h3>
          Morten Aalbæk Timmermann
        </h3>
      </div>
      <div class="user-logo">
        <img />
      </div>
    </div>
  </div>
</div>
