<div class="container" *ngIf="task">
  <div class="text-container">
    <div class="inner-text-container">
      <h2>{{ task.title }}</h2>
      <p>
        {{ task.description }}
      </p>
    </div>
  </div>
  <div class="button-container">
    <div class="sub-buttons">
      <a (click)="openDetailsModal()">
        <mat-icon>more_horiz</mat-icon>
      </a>
    </div>
    <div class="inner-button-container">
      <button class="primary-button" (click)="finishTask()">
        Afslut opgave
      </button>
      <button class="notify-button">Lav bemærkning</button>
    </div>
  </div>
</div>

<app-task-details-modal
  [openModal]="detailsModalOpen"
  [task]="task"
  (onCloseModalEvent)="closeDetailsModal()"
>
</app-task-details-modal>
