.calender-widget-container {
  width: 480px;
  height: 450px;
  .calender-widget {
    width: 450px;
    height: 410px;
  }
}

.task-widget-container {
  width: 750px;
  height: 0px;
  .task-widget {
    width: 700px;
    height: 700px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tasks-container {
  .tasks-header {
    float: right;
    padding-top: 20px;
    padding-left: 20px;
    .links {
      padding-top: 5px;
      padding-right: 30px;
      a {
        text-decoration: none;
        padding-right: 20px;
        color: #555555;
        font-size: 16px;
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  .tasks-inner-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}

.selected-path {
  font-weight: bold;
  color: #222 !important;
}
