<div>
  <div class="calender-container">
    <app-calender
      *ngIf="tasks"
      [tasks]="tasks"
      (onSelectDateEvent)="dateSelected($event)"
    >
    </app-calender>
  </div>
  <div class="tasks-presenter-container">
    <div class="tasks-container">
      <div class="tasks-header">
        <div class="links">
          <a
            routerLink="your-tasks"
            (click)="changeRoute(taskPaths.your_tasks)"
          >
            Dine opgaver
          </a>
          <a
            routerLink="available-tasks"
            (click)="changeRoute(taskPaths.available_tasks)"
          >
            Ledige opgaver
          </a>
        </div>
      </div>
      <div class="tasks-inner-container">
        <app-your-tasks
          *ngIf="currentPath === taskPaths.your_tasks"
          [date]="selectedDate"
          [tasks]="currentDateTasks"
        >
        </app-your-tasks>
        <app-available-tasks
          *ngIf="currentPath === taskPaths.available_tasks"
          [date]="selectedDate"
        >
        </app-available-tasks>
      </div>
    </div>
  </div>
</div>

<app-modal *ngIf="openModal">
  <div head><h2>header</h2></div>
  <div body><h2>body</h2></div>
  <div footer><h2>footer</h2></div>
</app-modal>
