<div>
  <div class="calender-container">
    <app-calender
      *ngIf="tasks"
      [tasks]="tasks"
      [availableTasks]="availableTasks"
      [newTaskSubscription]="notifyCalenderObservable"
      (onSelectDateEvent)="dateSelected($event)"
    >
    </app-calender>
  </div>
  <div class="tasks-presenter-container">
    <div class="tasks-container">
      <div class="tasks-header">
        <div class="links">
          <a
            routerLink="your-tasks"
            (click)="changeRoute(taskPaths.your_tasks)"
            [ngClass]="{
              'selected-path': currentPath === taskPaths.your_tasks
            }"
          >
            Dine opgaver
          </a>
          <a
            routerLink="available-tasks"
            (click)="changeRoute(taskPaths.available_tasks)"
            [ngClass]="{
              'selected-path': currentPath === taskPaths.available_tasks
            }"
          >
            Ledige opgaver
          </a>
          <a (click)="openCreateTaskModal()">
            Opret opgave
          </a>
        </div>
      </div>
      <div class="tasks-inner-container">
        <app-your-tasks
          *ngIf="currentPath === taskPaths.your_tasks"
          [date]="selectedDate"
          [tasks]="currentDateTasks"
        >
        </app-your-tasks>
        <app-available-tasks
          *ngIf="currentPath === taskPaths.available_tasks"
          [date]="selectedDate"
          [availableTasks]="currentDateAvailableTasks"
          (onTakeTask)="addNewTask($event)"
        >
        </app-available-tasks>
      </div>
    </div>
  </div>
</div>

<app-create-task-modal
  [openModal]="openModal"
  (onAddTask)="addNewTask($event)"
  (onCloseModalEvent)="onCloseModal($event)"
>
</app-create-task-modal>
