.calender-container {
  display: inline-block;
  border-right: solid 1px #e0e0e0;
  width: 30%;
  height: calc(100vh - 80px);
}
.tasks-presenter-container {
  width: calc(70% - 1px);
  float: right;
  height: calc(100vh - 80px);
  .tasks-container {
    float: right;
    width: 100%;
    height: calc(100vh - 80px);
    .tasks-header {
      float: right;
      padding-top: 20px;
      padding-left: 20px;
      .links {
        padding-top: 5px;
        padding-right: 30px;
        a {
          text-decoration: none;
          padding-right: 20px;
          color: #555555;
          font-size: 16px;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    .tasks-inner-container {
      width: 100%;
      height: calc(100vh - 80px);
      overflow-y: hidden;
    }
  }
}

.selected-path {
  font-weight: bold;
  color: #222 !important;
}
