.calender-container {
  display: inline-block;
  border-right: solid 1px #e0e0e0;
  width: 30%;
  height: calc(100vh - 80px);
}
.tasks-presenter-container {
  width: calc(70% - 1px);
  float: right;
  height: calc(100vh - 80px);
  .tasks-header {
    height: 80px;
    h2 {
      margin: 0px;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
  .tasks-inner-container {
    height: calc(100vh - 160px);
    overflow-y: scroll;
  }
}
