.container {
  .header {
    h2 {
      padding: 20px;
      margin: 0px;
      color: white;
    }
  }
  .body {
    max-height: 700px;
    overflow-x: hidden;
    margin-bottom: 10px;
    h3 {
      margin: 15px;
      font-size: 16px;
    }
    .created-details {
      h3 {
        display: inline-block;
      }
      p {
        display: inline-block;
      }
    }
    .time-details {
      div {
        display: inline-block;
        h3 {
          display: inline-block;
        }
        p {
          display: inline-block;
        }
        &:nth-child(2) {
          float: right;
          margin-right: 45px;
        }
      }
    }
    .participants-section {
      div {
        margin: 10px 15px;
        display: table;
        text-align: center;
        background-color: #e2e2e2;
        border-radius: 20px;
        .participant-logo {
          padding: 10px;
          display: table-cell;
          vertical-align: middle;
          width: 1%;
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
        .participant-email {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          p {
            margin-left: 5px;
            margin-top: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .description-section {
      p {
        font-size: 12px;
        margin: 0px 15px;
        overflow-y: hidden;
      }
    }
    .remarks-section {
      padding-bottom: 25px;
    }
  }
  .footer {
    height: 40px;
  }
}
