<app-modal
  class="container"
  [openModal]="openModal"
  (onCloseModalEvent)="onCloseModal($event)"
>
  <div head class="header"><h2>Opret opgave</h2></div>
  <div body class="body">
    <form [formGroup]="taskForm">
      <div>
        <label for="title">
          Titel:
        </label>
        <input
          required
          id="title"
          class="input-type title"
          type="text"
          formControlName="title"
        />
      </div>
      <div>
        <label for="description">
          Beskrivelse:
        </label>
        <textarea
          required
          id="description"
          class="input-type description"
          type="text"
          formControlName="description"
        ></textarea>
      </div>
      <div>
        <label for="duedate">
          Slut dato:
        </label>
        <input
          required
          [matDatepicker]="picker"
          id="duedate"
          class="input-type duedate"
          formControlName="duedate"
        />
        <mat-datepicker-toggle
          class="datepicker-toggle"
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <label for="assignedTo">
          Giv opgave til:
        </label>
        <input
          matInput
          [matAutocomplete]="auto"
          id="assignedTo"
          class="input-type assignedTo"
          type="text"
          (ngModelChange)="fillEmailsList(taskForm)"
          formControlName="assignedTo"
        />

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let email of emailsToShow" [value]="email">
            {{ email }}
          </mat-option>
        </mat-autocomplete>

        <app-user-container> </app-user-container>
      </div>
    </form>
  </div>
  <div footer class="footer">
    <button (click)="onSubmit(taskForm)" [disabled]="!taskForm.valid">
      Opret
    </button>
  </div>
</app-modal>
