.container {
  width: 100%;
  .calender-container {
    display: inline-block;
    border-right: solid 1px #e0e0e0;
    width: 30%;
    height: 90vh;
  }
  .tasks-container {
    width: calc(70% - 1px);
    max-height: 90vh;
    float: right;
    h2 {
      margin-top: 20px;
      margin-left: 20px;
    }
    .tasks-inner-container {
      padding-top: 25px;
      max-height: 75vh;
      overflow-y: scroll;
    }
  }
}
