<div class="container">
  <div class="login-box">
    <h1>Login</h1>
    <div class="input-container">
      <form [formGroup]="taskForm">
        <input
          id="email"
          class="self-input"
          placeholder="Email"
          type="text"
          formControlName="email"
        />
        <input
          id="password"
          class="self-input"
          placeholder="Password"
          type="password"
          formControlName="password"
          (keyup)="authenticate(taskForm)"
        />
      </form>
    </div>
    <div class="button-container">
      <button (click)="authenticate(taskForm)">Login</button>
      <p>
        <span> Eller</span>
      </p>
      <h3 (click)="register()">Register</h3>
    </div>
  </div>
</div>
