<div class="container">
  <div class="calender-container">
    <div class="calender-controls">
      <h4 class="controls" (click)="getPreviousMonth()">
        Forrige måned
      </h4>
      <h4 class="year">{{ displayedMonthString }} {{ displayedYearString }}</h4>
      <h4 class="controls" (click)="getNextMonth()">
        Næste måned
      </h4>
    </div>
    <div class="calender-header">
      <p>M</p>
      <p>T</p>
      <p>O</p>
      <p>T</p>
      <p>F</p>
      <p>L</p>
      <p>S</p>
    </div>
    <div class="calender-body">
      <div class="calender-week" *ngFor="let week of weeks">
        <div
          *ngFor="let date of week; let i = index"
          (click)="selectDate(date)"
          [className]="
            checkIfSameDate(date)
              ? 'selected-date'
              : date.otherMonth
              ? 'other-month'
              : 'current-month'
          "
        >
          <div class="date">
            <p>
              {{ date.getDate() }}
            </p>
          </div>
          <div class="dots">
            <p>{{ date.writeAmountOfTasksDots() }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
