.container {
  height: 100%;
  width: 100%;
  .calender-controls {
    h4 {
      display: inline-block;
      margin: 15px 0px 5px 0px;
      color: #3b3b3b;
      width: calc(100% - 180px);
      text-align: center;
    }
    .year {
      font-weight: bold;
      font-size: 18px;
    }
    .controls {
      background-color: whitesmoke;
      width: 50px;
      height: 50px;
      margin: 10px 20px;
      display: inline-block;
      h1 {
        padding: 10px 20px;
        font-size: 20px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(240, 240, 240);
        h1 {
          font-weight: bold;
          color: black;
        }
      }
      &:active {
        background-color: whitesmoke;
        h1 {
          font-weight: normal;
        }
      }
    }
  }
  .calender-header {
    padding-bottom: 5px;
    padding: 0px 10px;
    margin-top: 10px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    p {
      margin: 10px 0px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      width: calc(100% / 7);
    }
  }
  .calender-body {
    padding: 0px 10px;
    .calender-week {
      div {
        display: inline-block;
        width: calc(100% / 7);
        margin: 10px 0px;
        p {
          margin: 0px;
          text-align: center;
        }
        .date {
          margin: 0px;
          height: 50%;
          width: 100%;
        }
        .dots {
          margin: 0px;
          height: 50%;
          width: 100%;
        }
        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
      .other-month {
        color: #999;
      }
      .current-month {
        color: #222;
      }
      .selected-date {
        .date {
          color: rgb(50, 50, 235);
          text-decoration: underline;
        }
        font-weight: bold;
      }
      .today-date {
        .date {
          color: rgb(38, 121, 5) !important;
          text-decoration: underline !important;
        }
        font-weight: bold !important;
      }
    }
  }
}
