@import url(https://fonts.googleapis.com/css?family=Comfortaa);

.navbar {
  width: 100%;
  height: 80px;
  .logo {
    float: left;
    margin-top: 30px;
    margin-left: 35px;
    h1 {
      font-size: 30px;
      font-family: "Comfortaa";
      color: white;
      font-weight: bold;
    }
  }

  .user-container {
    float: right;
    margin-right: 30px;
    .user {
      float: left;
      text-align: right;
      padding-right: 0px;
      h3 {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 0;
        padding-right: 20px;
        color: white;
      }
    }
    .user-logo {
      float: right;
      margin-top: 20px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}
